<div class="grid-container">
  <h1 class="mat-h1">Flights</h1>
  <mat-grid-list cols="2" rowHeight="150px">
    <mat-grid-tile *ngFor="let flight of flights" [colspan]="2">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Flight Id: {{flight.id}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item [routerLink]="['/flights', flight.id]">Details</button>
              <button mat-menu-item (click)="deleteFlight(flight.id)">Delete</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
            Flight Number: {{flight.flightNumber}};
            Departure Time: {{flight.departureTime}};
            Departure Point: {{flight.departurePoint.airportName}}, {{flight.departurePoint.city}}
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
