<div class="grid-container">
  <h1 class="mat-h1">Flight Details:</h1>
  <div class="button-row">
    <button mat-raised-button color="primary" [routerLink]="['/flights']">< Back</button>
  </div>
  <mat-grid-list cols="2" rowHeight="200px">
    <mat-grid-tile *ngIf="flight" [colspan]="2" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Flight Id: {{flight.id}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
            Flight Number: {{flight.flightNumber}};
          </div>
          <div>
            Departure Time: {{flight.departureTime}};
          </div>
          <div>
            Departure Point: {{flight.departurePoint.airportName}}, {{flight.departurePoint.city}}
          </div>
          <div>
            Arrival Time: {{flight.arrivalTime}};
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
